PyYAML==6.0.2
geopy==2.3.0

# TODO REPLACE WITH YOUR OWN PATH TO THE OPENAPI-GENERATOR GENERATED REST SDK DIRECTORIES
<PATH TO GENERATED OPENAPI REST SDK>/lattice_sdk_py/entities_api
<PATH TO GENERATED OPENAPI REST SDK>/lattice_sdk_py/tasks_api
