APScheduler==3.10.4
grpclib==0.4.7
PyYAML==6.0.2
geopy==2.3.0

# TODO REPLACE WITH YOUR OWN PATH TO THE OPENAPI-GENERATOR GENERATED REST SDK DIRECTORIES
/Users/kli2/sources/andurilapis/public-apis/entity_manager_py
/Users/kli2/sources/andurilapis/public-apis/task_manager_py