PyYAML==6.0.2
geopy==2.3.0

# TODO REPLACE WITH YOUR OWN PATH TO THE OPENAPI-GENERATOR GENERATED REST SDK DIRECTORIES
/Users/vmathur/external/integrations/lattice_sdk/lattice_sdk_py/entities_api
/Users/vmathur/external/integrations/lattice_sdk/lattice_sdk_py/tasks_api
